<h2>Allergy Score</h2>
<form action="/allergies">
  <div class="form-group">
    <label for="score">Enter your allergy score:</label>
    <input type="text" name="score"  class="form-control">

  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
